* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.cabecera {
    width: 100%;
    height: 15vh;
    /* border: 1px solid black;  */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #EBEBEB;
}

.logo img {
    width: 50%;
}
.imgModal{
    width: 100%;
    height: 100%;
}

.barraBusqueda {
    position: relative;
    right: 20%;
    display: flex;
    justify-content: space-between;
    width: 30%;
    /* border: 1px solid black;    */
}

.barraBusqueda input {
    border-radius: 8px;
    padding: 10px;
    margin: 2px;
    border: 1px solid #ccc;

}

.navegacion {
    position: relative;
    right: 10%;
    display: flex;
    justify-content: space-between;
    width: 20%;

}

.navegacion button {
    text-decoration-line: none;
    border: none;
    padding: 2%;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #EBEBEB;
    background-color: #D92525;
    margin-left: 10%;
}

/* estilos de contactanos */
.section_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
#consultation-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feed-form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.feed-form input {
    height: 54px;
    width: 100%;
    border-radius: 5px;
    background: white;
    margin-bottom: 15px;
    border: none;
    padding: 0 20px;
    font-weight: 300;
    font-size: 14px;
    color: #4B4B4B;
}
.textArea{
    width: 100%;
    min-height: 50px;
    border-radius: 5px;
    background: white;
    margin-bottom: 15px;
    border: none;
    padding: 0 20px;
    font-weight: 300;
    font-size: 14px;
    color: #4B4B4B;
}
.textArea::placeholder{
    color: #000000;
    padding-top: 15px;
}
.button_submit:hover,
.feed-form input:hover {
    transform: scale(1.009);
    box-shadow: 0px 0px 3px 0px #212529;
}

.button_submit {
    width: 100%;
    height: 54px;
    font-size: 14px;
    color: white;
    background: red;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    text-transform: uppercase;
}


.navegacion button:hover {
    background-color: #FF0000;
}

.buscar {
    background-color: #04404040;
}

.buscar:hover {
    background-color: #04404080;
}

.login {
    width: 10%;
    cursor: pointer;
}

.contenedorTarjetas {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.contenedorTarjetas h1 {
    width: 100%;
    text-align: center;
    font-weight: lighter;
}

.tarjeta {
    border-radius: 6px;
    margin: 3%;
    /* border: solid 1px black; */
    width: 20%;
    height: 40vh;
    box-shadow: 0px 0px 20px rgb(121, 121, 121);
    /* transition: ease-in-out 0.3s; */
}

.tarjeta:hover {
    /* transition: ease-in-out 0.3s; */
    /* transform: scale(1.1); */
}

.imagenPropiedad {
    width: 100%;
    height: 50%;
    /* border:  solid 1px black; */
}

.imagenPropiedad img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

}

.descripcionPropiedad {
    width: 100%;
    height: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.descripcionPropiedad h6 {
    margin-top: 2%;
    color: #D92525;
    margin-left: 3%;
}

.botonDetalles {
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 40%;
    background-color: #D92525;
    color: #EBEBEB;
    border-radius: 3px;
    padding: 2%;
    border: none;
    margin: 2%;
}

.botonDetalles:hover {
    background-color: #ff0c0c;
}

/* modal */
.fondoModal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    padding: 40px;
    align-items: center;
    justify-content: center;
}

.modal {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
    background-color: #EBEBEB;
    position: relative;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
}

.encabezadoModal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E8E8E8;
}

.encabezadoModal h3 {
    font-weight: 500;
    font-size: 16px;
    color: #D92525;
}

.botonCerrar {
    position: absolute;
    right: 20px;
    top: 15px;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    color: #D92525;
}

.botonCerrar:hover {
    background-color: #ccc9c9;
}

.botonCerrar svg {
    width: 100%;
    height: 100%;
}

.botonFinal {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: #D92525;
    color: #EBEBEB;
    border-radius: 3px;
    padding: 2%;
    border: none;
    margin: 2%;
    margin-top: 30px;
}

.piePagina {
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 15vh;
    background-color: #EBEBEB;

}

.redes {
    margin-right: 5%;
    width: 16%;
    display: flex;
    justify-content: space-between;
}

.piePagina h2 {
    font-weight: lighter;
    margin-left: 5%;
}